{% extends "base.html" %}

{% block content %}
<h1>{{ page.title }}</h1>

{% if config.extra.author and config.extra.display_author == true %}
<address rel="author">作者: <span class="accent-data">{{config.extra.author}}</span></address>
{% endif %}
<time datetime="{{ page.date }}">发布于: <span class="accent-data">{{ page.date }}</span></time>

<hr/>

{{ page.content | safe }}

<hr/>

<p class="tags-data">
  {% if page.taxonomies.tags %}
  {% for tag in page.taxonomies.tags %}
  <a href="/tags/{{ tag | slugify }}">&#47;{{ tag }}&#47;</a>
  {% endfor %}
  {% endif %}
</p>

<script src="https://giscus.app/client.js"
        data-repo="jane-212/jane-212.github.io"
        data-repo-id="R_kgDOLdGlzg"
        data-category="Announcements"
        data-category-id="DIC_kwDOLdGlzs4CjhQ4"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="preferred_color_scheme"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
{% endblock content %}
